* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* MAIN SECTION */
.section-wrapper {
  display: flex;
  flex-direction: column;
}

.page-headline {
  text-align: left;
  font-size: 17px;
  margin-left: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: white solid 1px;
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon-container { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
}

.hidden {
  display: none;
}

/* .albumcover:hover >
.hidden { 
  display: flex;
} */

.album-container:hover .albumcover {
  opacity: 0.7;
  transition-delay: 0.2s;
}

.icon-container { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

.play-icon {
  width: 70px;
  fill: white;
  padding: 10px;
}

.heart-icon {
  width: 40px;
  fill: white;
  padding: 10px;
}

.dots-icon {
  width: 30px;
  fill: white;
  padding: 10px;
}

.play-icon:hover {
  width: 90px;
}

.heart-icon:hover, .dots-icon:hover {
  width: 50px;
}

.albumcover {
  width: 80%;
}

.text-container {
  text-align: center;
  width: 80%;
  padding: 15px 30px 30px 30px;
}


.album-name {
  font-size: 14px;
  color: white;
}

.artist-name {
  color: #a0a0a0;
  font-size: 14px;
}

.text-container a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.artist-name:hover, .album-name:hover {
  text-decoration: underline;
}

/* LEFT SECTION */
.playlistheader {
  font-size: 14px;
  padding: 30px 0 15px 10px;
  width: 90px;
}

.leftside-image-container {
  display: flex;
  flex-direction: row;
}

.pick-image {
  width: 100px;
  padding: 15px 0 15px 10px;
}

.pick-image:hover {
  opacity: 0.7;
}

@media (min-width:  768px) and (max-width: 992px) {
  .album-container {
    width: 45%;
  }

  .section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-container {
    text-align: left;
    padding: 15px 30px 30px 0px;
  }

  .pick-image {
    width: 130px;
  }
}

@media (min-width: 993px) {
  .album-container {
    width: 25%;
  }

  .section-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1100px;
  }

  .page-headline {
    margin-bottom: 15px;
    padding-bottom: 20px;
  }

  .text-container {
    text-align: left;
    padding: 15px 30px 30px 0px;
    height: 130px;
  }
/* 
  .albumcover {
    width: ;
  } */


  .pick-image {
    width: 150px;
  }

  .leftside-image-container {
    padding-right: 30px;
  }
}